
.left-content, .right-content{
	margin-top: 20px;
	float: left;
}
.left-content{
	width: 75%;
}
.timelines-content{
	margin-top: 20px;
}
.timeline-content{
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}
.w-content{
	font-size: 14px;
	width: 99%;
	border-radius: 3px;
	height: 150px;
}
.timeline-content ::-webkit-input-placeholder {
	font-size: 16px;
	font-family: "DFKai-SB";
	color: #1B7FB6;
}
.content-sub {
	text-align: right;
}
.timeline-content a{
	display: inline-block;
	width: 35px;
	padding: 5px 10px;
	border: 1px solid #f77c3d;
	background-color: #FF7C55;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	border-radius: 2px;
	cursor: pointer;
}

.left-content-list{
	margin-top: 20px
}
.xui-timelines{
	margin: 20px 30px;
}
.xui-timelines .xui-timeline-content{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.xui-timelines .xui-timeline-created_at{
	font-size: 12px;
	color: #8C8C8C;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 10px;
}
.timelines-content{
	border-radius: 5px;
	border: 1px solid #eee
}
.timelines-content ul{
	border-color: #f2f2f5;
	list-style: none;
	border-top-width: 1px;
    border-top-style: solid;
}
.timelines-content ul li{
	width: 25%;
	float: right;
}
.timelines-content ul li a{
	display: block;
    margin: 5px -1px 5px 0 ;
    padding: 1px 0;
    text-align: center;
    color: #8C8C8C;
    border-right: 1px solid #eee;
}
.right-content{
	width: 25%;
	text-align: center;
}
.right-content .user-img{
}
.right-content .user-img img{
	width: 80px;
	height: 80px;
	border-radius: 40px
}
.right-content .timeline-count{
	color: #5F5F5F
}
.cb{
	clear: both;
}